@font-face {
   font-family: 'panton-bold';
   font-display: swap;
   src: url('file:///C:/Users/Marcin/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-10-18_163940/fonts/panton-bold/font.otf');
}
