@font-face {
   font-family: 'panton-bold';
   font-display: swap;
   src: url('panton-bold/font.otf');
}

body {
  font-family: 'Roboto', sans-serif;
  color: white;
  background-color: #121212;
  text-align: center;
  width: 50em;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}

.panton {
  font-family: 'panton-bold', sans-serif;
  color: #FFFFFF;
  text-align: center;
}

a {
  color: #FFAA00;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

#logo{ 
	position:fixed; 
	top:20; 
	left:50; 
} 


.panleft {
  font-family: 'panton-bold', sans-serif;
  color: #FFFFFF;
  position: absolute;
  left: 218px;
  bottom: 520px;
}

.topgg {
  position: absolute;
  left: 500px;
  bottom: 30px;
  width: 1300px;
  height: 900px;
}

.buttonleft {
  position: absolute;
  left: 250px;
  bottom: 430px;
}

.textleft {
  position: absolute;
  left: 150px;
  bottom: 500px;
}

.disable-select {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}


@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}


.avatar {
	overflow: hidden;
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
	img { width: 100%; height: auto; }
}